{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title> Hindia's Portfolio</title>
    </head>
    {% block content %}

    {% endblock content %}
     <!--===== FOOTER =====-->
     <footer class="footer section">
        <div class="footer__container bd-grid">
            <div class="footer__data">
                <h2 class="footer__title">Victor hindia</h2>
                <p class="footer__text">I'm Victor odhiambo Hindia and this is my personal website</p>
            </div>

            <div class="footer__data">
                <h2 class="footer__title">EXPLORE</h2>
                <ul>
                    <li><a href="#home" class="footer__link">Home</a></li>
                    <li><a href="#about" class="footer__link">About</a></li>
                    <li><a href="#skills" class="footer__link">Skills</a></li>
                    <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
                    <li><a href="#Contact" class="footer__link">Contact</a></li>
                </ul>
            </div>
            
            <div class="footer__data">
                <h2 class="footer__title">FOLLOW</h2>
                <a href="#" class="footer__social"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter' ></i></a>
            </div>


        </div>
    </footer>

    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>